<div class="prod-container">
    {{#each eventos}}
    <div class="prod-card">
            <p>ID:{{this.id}} </p>
            <p>Nombre:{{this.title}}</p>
            <p>Talle:{{this.talle}}</p>
            <p>Precio:{{this.price}}</p>
            <p>Tamaño:{{this.size}}</p>      
    </div>
    {{/each}}
</div>